[Unit]
Description=Change wallpaper service

[Service]
Type=oneshot
ExecStart=%h/dotfiles/scripts/wallchange.sh
Environment="DISPLAY=:0"
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/bus"
